
body {
	padding:5px;
	background-color:rgb(35,36,42);
	min-width:750px;
	overflow-x:hidden;
	font-size: xx-small;
}
p {
	margin-top: 5px;
	color: #A9A9A9;
	text-align: center;
	font-size: small;
}
table {
	border-collapse:collapse;
	width: 100%;
	padding:0;
}
tr {
	background-color:rgb(45,49,52);
	border-bottom: 1px solid rgba(0,0,0,.125);
}
tr:last-child {
	border-bottom: none;
}
td {
	
	padding-left: 1rem;
	color: #A9A9A9;
	font-size: xx-small;
	padding-top:3px !important;
	padding-bottom: 3px !important;
	border:none;
}
.card {
	border: none;
	margin-top:5px !important;
	background-color:rgb(35,36,42);
	
}



button {
	border:none;
	margin-left:2px;
	background-color:rgb(45,49,52);
	
	color: #A9A9A9;
}
button.b-blue {
	border: 1px solid rgb(9,154,214);
}
button.b-red {
	border: 1px solid red;
}

.card-header {
	padding:5 !important;
	margin:0 !important;
	border-left: none;
	border-right: none;
	background-color: rgb(45,49,52);
	
	font-weight:bold;
}
.c-blue {
	color: rgb(9,154,214);
}
.c-red {
	color: red;
}

.card-body {
	color: #006dcc;
	font-weight:bold;
	padding:0 !important; 
	margin:0 !important;
	border-bottom:none;
}


.link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.hideme {
	display:none;
}